@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@400;500;600&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  --type-first: 'Oswald';
  --type-second: 'Inter';
  --cor0: #fff;
  --cor1: #ededed;
  --cor2: #dedede;
  --cor3: #d9d9d9;
  --cor4: #ccc;
  --cor5: #b3b3b3;
  --cor6: #9c9c9c;
  --cor7: #707070;
  --cor8: #595959;
  --cor9: #404040;
  --cor10: #2e2e2e;
  --cor11: #212121;
  --cor12: #121212;
  --background: #16161b;
  --cor_primaria: #7678ed;
}

ul, li{
  list-style: none;
}

a{
  text-decoration: none;
}

nav.visible{
  top: 0;
  translate: 0;
}

.container{
  max-width: 82rem;
  margin: 0 auto;
  padding: 0 auto;
}